<div class="mat-elevation-z8">
  <div class="marketContainer scrollable">
    <table
      mat-table
      class="full-width-table market itemsTable"
      [class.loading]="dataSource.loading | async"
      matSort
      aria-label="Elements"
      multiTemplateDataRows
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th
          class="header name"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Name
        </th>
        <td
          class="cellContainer"
          mat-cell
          *matCellDef="let row"
          [class.normal]="row.rarity == 0"
          [class.uncommon]="row.rarity == 1"
          [class.rare]="row.rarity == 2"
          [class.epic]="row.rarity == 3"
          [class.legendary]="row.rarity == 4"
          [class.relic]="row.rarity == 5"
        >
          <div class="cell">
            <button
              class="favorite"
              [class.active]="common.isMarketFavorite(row.id)"
              mat-icon-button
              (click)="common.toggleMarketFavorite(row.id)"
            >
              <mat-icon>star</mat-icon>
            </button>
            <img class="itemImage" [src]="row.image" />
            <div class="name">
              <span>{{ row.name }}</span>
              <span class="bundles" *ngIf="row.amount > 1"
                >[ Sold in bundles of
                <span class="amount">{{ row.amount }} units</span> ]</span
              >
              <span class="untradable" *ngIf="isUntradable(row)"
                >[ <span class="status">Untradable</span> upon purchase ]</span
              >
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="variation">
        <th class="header" mat-header-cell mat-sort-header *matHeaderCellDef>
          Historical Data
        </th>
        <td class="cellContainer" mat-cell *matCellDef="let row">
          <div *ngIf="!row.chartOptions" class="historical">
            <span style="color: white">Not enough historical data</span>
          </div>

          <div class="historical" *ngIf="row.chartOptions">
            <div class="chartContainer">
              <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="row.chartOptions"
                class="chart"
              >
              </highcharts-chart>
              <span
                class="variation"
                [class.negative]="row.variation < -5"
                [class.positive]="row.variation > 5"
                >{{ row.variation }}%</span
              >
            </div>
            <div class="buttonContainer">
              <button
                class="btnHistory"
                matSuffix
                mat-icon-button
                matTooltip="View More"
                matTooltipPosition="above"
                (click)="openHistory(row)"
              >
                <mat-icon>insights</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="recentPrice">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          Recent Prices
        </th>
        <td class="cellContainer" mat-cell *matCellDef="let row">
          <div class="cell right">
            <div class="prices">
              <div class="price">
                {{ row.recentPrice }}
                <img class="gold" src="/assets/icons/gold.png" alt="gold" />
              </div>
              <span *ngIf="row.fullPrice">/</span>
              <div class="price" *ngIf="row.fullPrice">
                1
                <img
                  class="gold"
                  [src]="row.id == 'blue-crystal-0' ? '/assets/icons/bluecrystal.png' : '/assets/icons/royalcrystal.png'"
                  alt="bluecrystal"
                />
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="lowPrice">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          Lowest Price
        </th>
        <td class="cellContainer" mat-cell *matCellDef="let row">
          <div class="cell right">
            <div class="prices">
              <div class="price">
                {{ row.fullPrice || row.lowPrice }}
                <img class="gold" src="/assets/icons/gold.png" alt="gold" />
              </div>
              <span *ngIf="row.fullPrice">/</span>
              <div class="price" *ngIf="row.fullPrice">
                {{row.id == 'blue-crystal-0'?95:238}}
                <img
                  class="gold"
                  [src]="row.id == 'blue-crystal-0' ? '/assets/icons/bluecrystal.png' : '/assets/icons/royalcrystal.png'"
                  alt="bluecrystal"
                />
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="cheapestRemaining">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          Cheapest Rem.
        </th>
        <td class="cellContainer" mat-cell *matCellDef="let row">
          <div class="cell right">{{ row.cheapestRemaining }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
          Last Updated
        </th>
        <td class="cellContainer" mat-cell *matCellDef="let row">
          <div class="cell right">{{ row.updatedAt | amTimeAgo }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="loading">
        <th
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="6"
          class="loadingContainer"
        >
          <mat-spinner class="loadingSpinner" diameter="36"></mat-spinner>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-header-row
        *matHeaderRowDef="['loading']"
        class="loadingHeader"
      ></tr>
      <tr
        class="row"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>

  <mat-paginator
    class="paginator"
    #paginator
    [length]="dataSource.collectionSize"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
