.full-width-table {
  width: 100%;
}

.marketContainer {
  max-width: 100%;
  min-height: 834px;
  overflow-x: auto;
}

.market {
  background-color: var(--primary-background-color);
  border-collapse: separate;
  border-spacing: 0px 4px;
  min-width: 1000px;
}

.paginator {
  background-color: var(--secondary-background-color);
  box-shadow: var(--secondary-background-box-shadow);
  color: var(--text-color);
}

.market .header {
  background-color: var(--secondary-background-color);
  box-shadow: var(--secondary-background-box-shadow);
  color: var(--text-color);
  padding: 16px;
  font-size: 1em;
  min-width: 120px;
  padding: 8px;
}

.market .header.name {
  min-width: 400px;
}

.market .header:not(:first-child) {
  border-left: var(--primary-background-color) solid 5px;
}

.market {
  color: white;
}

.market .cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  color: white;
  padding: 4px 16px;
}

.market .cellContainer {
  position: relative;
  padding-left: 0px;
}

.market .cellContainer:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 10%;
  height: 80%;
  width: 2px;
  background: #434230;
}

.market .cell.right {
  justify-content: end;
}

.market .normal {
  background: linear-gradient(50deg, #5e5e5e 0%, transparent 50%);
}

.market .normal .cell {
  color: white;
}

.market .uncommon {
  background: linear-gradient(50deg, #203808 0%, transparent 50%);
}

.market .uncommon .cell {
  color: #93ee24;
}

.market .rare {
  background: linear-gradient(50deg, #064054 0%, transparent 50%);
}

.market .rare .cell {
  color: #17a7e6;
}

.market .epic {
  background: linear-gradient(50deg, #440850 0%, transparent 50%);
}

.market .epic .cell {
  color: #b249d4;
}

.market .legendary {
  background: linear-gradient(50deg, #6a4109 0%, transparent 50%);
}

.market .legendary .cell {
  color: #e8921b;
}

.market .relic {
  background: linear-gradient(50deg, #783201 0%, transparent 50%);
}

.market .relic .cell {
  color: #e66516;
}

.market .cell .gold {
  height: 20px;
  width: 20px;
}

.market .row {
  background-color: #090909;
  margin-bottom: 8px;
}

.market .row .favorite {
  color: #777;
}

.market .row .favorite.active {
  color: #ffdf00;
}

.market .row .itemImage {
  height: 64px;
  width: 64px;
}

.market .row .buttonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.market .row .buttonContainer .btnHistory {
  color: white;
}

.market .row .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}
.market .row .name .untradable,
.market .row .name .bundles {
  color: white;
}
.market .row .name .untradable .status,
.market .row .name .bundles .amount {
  color: #faab02;
}
.hidden {
  display: none;
}

.cellContainer .historical {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 8px;
}

.cellContainer .historical .chart {
  display: block;
  width: 150px;
  overflow: visible !important;
}
.cellContainer .chartContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.cellContainer .chartContainer .variation{
  color: #AED6F1;
}
.cellContainer .chartContainer .variation.positive {
  color: limegreen;
}
.cellContainer .chartContainer .variation.negative {
  color: #ff2020;
}
