<mat-toolbar class="toolbar">
  <!--button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button-->

  <mat-toolbar-row class="firstRow">
    <img class="titleIcon" src="/assets/icons/favicon.png" />
    <span class="title">Lost Ark Market Online</span>
    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="updateRegion('Europe West', true)">
          Europe West
        </button>
        <button mat-menu-item (click)="updateRegion('Europe Central', true)">
          Europe Central
        </button>
        <button mat-menu-item (click)="updateRegion('North America West', true)">
          North America West
        </button>
        <button mat-menu-item (click)="updateRegion('North America East', true)">
          North America East
        </button>
        <button mat-menu-item (click)="updateRegion('South America', true)">
          South America
        </button>
      </ng-template>
    </mat-menu>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu">{{ region }}</button>
    <button class="applyBtn" mat-icon-button (click)="openApplyDialog()">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
    <a
      target="_blank"
      class="github"
      href="https://github.com/gogodr/LostArk-Market-Web"
      ><img src="/assets/icons/github.png"
    /></a>
  </mat-toolbar-row>
  <mat-toolbar-row class="secondRow">
    <a [routerLink]="['/'+regionSlug,'market']" routerLinkActive="active" class="tab">
      <span>Market</span>
    </a>
    <a disabled [routerLink]="null" routerLinkActive="active"  class="tab disabled">
      <span>Crafting Calculator</span>
    </a>
    <a disabled [routerLink]="null" routerLinkActive="active"  class="tab disabled">
      <span>Honing Calculator</span>
    </a>
    <a disabled [routerLink]="null" routerLinkActive="active"  class="tab disabled">
      <span>Mari Shop</span>
    </a>
    <a href="https://documenter.getpostman.com/view/20821530/UyxbppKr" target="_blank"  class="tab">
      <span>API Doc</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="routerContainer">
  <router-outlet></router-outlet>
</div>
