/* You can add global styles to this file, and also import other style files */
:root{
    --text-color: #c1a979;
    --text-color-focused: #554f40;
    --primary-background-color: #121416;
    --secondary-background-color: #1e2329;
    --secondary-background-box-shadow: inset 0 0 10px #272a2f;
}

html,
body {
    height: 100%;
    background-color: var(--primary-background-color);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-select-value {
    color: var(--text-color);
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger,
.mat-select-arrow {
    color: var(--text-color);
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--text-color-focused);
}

.mat-dialog-container {
    background-color: var(--secondary-background-color);
    box-shadow: var(--secondary-background-box-shadow);
    color: var(--text-color);
}

.mat-form-field .mat-form-field-label {
    color: var(--text-color);
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--text-color);
}

.mat-form-field input::placeholder {
    color: var(--text-color);
    opacity: 0.6;
}
.mat-sort-header-content{
    text-align: left!important;
}