/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-select-value {
    color: #ab9c77;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger,
.mat-select-arrow {
    color: #ab9c77;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #554f40;
}

.mat-dialog-container {
    background-color: #1e2329;
    box-shadow: inset 0 0 10px #272a2f;
    color: #ab9c77;
}

.mat-form-field .mat-form-field-label {
    color: #ab9c77;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #ab9c77;
}

.mat-form-field input::placeholder {
    color: #ab9c7763;
}